.main {
  padding: 36px 0;
}

.title {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 20px;
}

.body {
  line-height: 36px;
}

.note {
  font-weight: 600;
  margin-bottom: 28px;
  color: var(--color-gray-2);
}
