.main {
  padding: 36px 0;
}

.title {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 20px;
}
.note {
  font-weight: 600;
  margin-bottom: 28px;
  color: var(--color-gray-2);
}

.post {
  display: block;
  border-bottom: 1px solid var(--color-gray-1);
  padding: 32px 0;
}

.post__title {
  font-size: 1.5em;
  font-weight: 600;
}
.post__body {
  color: var(--color-gray-2);
}

.post__more {
  margin-top: 20px;
  color: var(--color-main-1);
  cursor: pointer;
}

.post__more:hover {
  color: var(--color-main-1-hov);
}
